html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

#downLink {
  transition: box-shadow 250ms ease-in-out, height 300ms ease-in-out,
    width 300ms ease-in-out;
}
#downLink div {
  transition: top 300ms ease-in-out;
}
#downLink:hover {
  height: 150px;
  width: 200px;
  background-color: #cbe0fc;
  box-shadow: -2px -1px 19px -3px rgba(0, 0, 0, 0.25);
}
/* #downLink:hover div {
  top: 45%;
} */
#downLink:hover svg {
  stroke: rgb(13, 192, 13);
}

.blue {
  border: 4px solid blue;
}
.green {
  border: 4px solid green;
}
